:root {
    --true-background-color: #2E428A;
    --main-background-color: #FAFAEF;
    --schedule-column-color-one: #F7E7DE;
    --schedule-column-color-two: #F3DBCE;
    --scheduled-event-background: #E0A990;
    --column-header-background-color: #2E428A;
    --header-background-color: #4663C3;
    --column-separators: #23346C;
    --event-schedule-shadow: #D7885B;
    --error-message: #c3294a;
}

body{
    background-color: var(--main-background-color);
    margin: 0;
    font-family: "Prompt", sans-serif;
    font-weight: 420;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--header-background-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 10em;
    color: var(--main-background-color);
}

#links
{
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
}

.material-symbols-outlined {
    color: var(--header-background-color);
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


#error-message
{
    justify-content: left;
    align-items: left;
    width: 50%;
    background-color: var(--error-message);
    height: 70%;
    text-align: center;
    margin: 3em;
    justify-content: center;
    border-radius: 1em;
}

a {
    text-decoration: none;
}


#main-sign-in{
    background-color: var(--scheduled-event-background);
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

#create-link
{
    border-radius: 3em;
}

.add-event-forms
{
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

h3 {
    font-style: italic;
    font-weight: 300;
}

h1 {
    margin-bottom: -0.4em;
}

.rsvp-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rsvp-option
{
    display: flex;
    margin: 0.5em;
    flex-direction: row;
    background-color: var(--schedule-column-color-two);
    padding: 0.5em;
    border-radius: 0.5em;
    border-color: var(--true-background-color);
    border: solid 0.15em;
    transition: all 0.2s;
}

.rsvp-option:hover
{
    transform: scale(1.05);
}

input {
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    transition: all 0.3s;
}

.header-link {
    padding: 2em;
    display: block;
    background-color: var(--main-background-color);
    margin: 1em;
    border-radius: 1em;
    height: 1em;
    width: 15%;
    max-width: 10em;
    min-width: 5em;
    text-wrap:balance;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
}

input[type="button"], input[type="submit"]
{
    padding: 1em;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
    font-size: large;
    border-bottom-color: #23346C;
    border-bottom-width: 0.3em;
}

input:hover{
    background-color: var(--schedule-column-color-one);
}

input[type="button"]:hover, input[type="submit"]:hover
{
    border-color: #23346C;
    border-width: 0.4em;
}

.header-link:hover{
    background-color: var(--scheduled-event-background);
    color: var(--main-background-color);
}